Lead Intelligence Pipeline.json
{
  "name": "Lead Intelligence Pipeline",
  "nodes": [
    {
      "parameters": {
        "path": "040843d9-ca82-413f-b8c5-32a59b5e55d4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "91320824-2d91-41a4-82cf-08a7f17844dc",
      "name": "Webhook",
      "webhookId": "040843d9-ca82-413f-b8c5-32a59b5e55d4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed768ccb-a27c-468f-94c0-875384e91ca2",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "7c7368f6-3385-492a-b8f0-039ec838bc6e",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const key = $json.query.company + $json.query.name;\n\nif (globalThis.leads && globalThis.leads.includes(key)) {\n  return []; // skip duplicate\n} else {\n  globalThis.leads = globalThis.leads || [];\n  globalThis.leads.push(key);\n  return items;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -96
      ],
      "id": "fc6637c5-8d08-4678-8450-726e6f375935",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.allorigins.win/raw?url={{$json.query.website}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -96
      ],
      "id": "5be2e3ec-56d4-4602-9799-7c5e8269a450",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.query || $json;\n\nconst company = data.company || \"Unknown\";\nconst name = data.name || \"Unknown\";\nconst role = data.role || \"\";\n\nlet score = 50;\n\nif (role.toLowerCase().includes(\"manager\")) {\n  score += 30;\n}\n\nif (company.toLowerCase().includes(\"ai\")) {\n  score += 20;\n}\n\nlet insight = score > 80 ? \"High potential lead\" : \"Normal lead\";\n\nreturn [\n  {\n    json: {\n      company,\n      name,\n      role,\n      score,\n      insight\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -96
      ],
      "id": "6ac81f9d-24df-41c7-9872-4c2e2734ec3c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"company\": \"{{$json.company}}\",\n    \"name\": \"{{$json.name}}\",\n    \"role\": \"{{$json.role}}\",\n    \"lead_score\": \"{{$json.score}}\",\n    \"insight\": \"{{$json.insight}}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        -96
      ],
      "id": "bc1eeb56-4e4a-4fa8-888c-239351fed2a8",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6a160fb1-5cff-4f5b-8dc2-f4b4ab0e2fb8",
  "meta": {
    "instanceId": "bbb2f7e0b2b1ab8abb5012d1d985d28da5852a7b46dfe4c5c5aab4423f3f5cf3"
  },
  "id": "IMaZ7TUQebrsHeV1",
  "tags": []
}